<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear cita</title>
    </h:head>
    <h:body>
        <ui:composition template="Plantilla/Template.xhtml">
            <ui:define name="content" >
                <div align="center" class="color-blue">
                    <h2>Crea tu cita</h2>
                    <h4>
                        Estimado usuario a continuación seleccione la fecha y hora a la que acudira a su servicio
                    </h4>
                </div>
                <h:form>
                    <div align="center">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="Selecciona la fecha"/>                            
                            <input type="datetime-local"></input>                        
                        </h:panelGrid>
                    </div>
                    <div align="center" class="color-blue">
                        <h4>
                            Podemos ofrecerte una gran variedad de productos para tu mascota, por favor esocje los de tu agrado
                        </h4>
                    </div>
                    <div align="center" class="color-blue">
                        <h:commandLink class="button-secondary" value="Continuar">
                            <f:param name="empleadoId"></f:param>

                        </h:commandLink>
                    </div>

                </h:form>


            </ui:define>
        </ui:composition>
    </h:body>
</html>

