<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets
        <ui:composition template="Plantilla/Template.xhtml">
            <ui:define name="content">
                <div class="carousel-wrapper">
                    <span id="item-1"></span>
                    <span id="item-2"></span>
                    <span id="item-3"></span>
                    <div class="carousel-item item-1">
                        <h2><b>El mejor servicio</b></h2>
                        <p class="color-white" >Otorgamos el mejor servicio para caninos 100% garantizado</p>
                        <a class="arrow arrow-prev" href="#item-3"></a>
                        <a class="arrow arrow-next" href="#item-2"></a>
                    </div>

                    <div class="carousel-item item-2">
                        <h2>Perros felices</h2>
                        <p>Un perro aseado es un perro feliz</p>
                        <a class="arrow arrow-prev" href="#item-1"></a>
                        <a class="arrow arrow-next" href="#item-3"></a>
                    </div>

                    <div class="carousel-item item-3">
                        <h2>Grandes servicios</h2>
                        <p>Pregunta por nuuestros productos especiales</p>
                        <a class="arrow arrow-prev" href="#item-2"></a>
                        <a class="arrow arrow-next" href="#item-1"></a>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

