<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="Plantilla/Template.xhtml">
            <ui:define name="content" >
                <h:form>
                    <div align="center">
                        <h1 style="font-size: 25px;">Inicia tu sesión</h1>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Usuario">
                            
                        </h:outputLabel>
                        <h:inputText>
                            
                        </h:inputText>
                          <h:outputLabel value="Contraseña">
                            
                        </h:outputLabel>
                        <h:inputText id="cont">
                            
                        </h:inputText>
                     
                        <h:commandLink value="¿Olvidaste tu contraseña?" style="font-size: 15px;">
                         
                        </h:commandLink>
                       
                        <h:commandLink  style="font-size: 15px;">
                            
                               <a href="http://localhost:8080/Uno/faces/registro.xhtml">Registrate</a>
                        </h:commandLink>
                    </h:panelGrid>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

