<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="Plantilla/Template.xhtml">
            <ui:define name="content">
                <h:form>
                <div id="tit" align="center">
                    <h1>¡Tenemos una gran variedad de produtos!</h1>
                </div>
                <h:panelGrid columns="5" cellpadding="2" cellspacing="2">
                     
                    <h:outputLabel>
                        <div align="center">Shampoo</div>
                        <div align="center">
                            <h:graphicImage library="img" name="shampoo.jpg" width="175"/>
                       </div>
                        <center>Cuidado especial $55.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                        <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                   </h:outputLabel>
                    
                    <h:outputLabel>
                          <div align="center">Jabon</div>
                          <div align="center">
                              <h:graphicImage library="img" name="jabon.png" width="175"/>
                          </div>
                          <center>Jabon Antipulgas y Antigarrapatas $30.00</center>
                           Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                        <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                     <h:outputLabel>
                         <div align="center">Perfume</div>
                         <div align="center">
                             <h:graphicImage library="img" name="perfume.jpg" width="175"/>
                        </div>
                         <center>Desodorante/Locion Golden $95.00</center>
                          Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                        <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                   </h:outputLabel>
                    
                      <h:outputLabel>
                       <div align="center">Collar Antipulgas</div>
                       <div>
                       <h:graphicImage library="img" name="collar.jpg" width="210"/>
                       </div>
                       <center>Collar 20cm, cuero $100.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Vitaminas</div>
                       <div>
                       <h:graphicImage library="img" name="vitminas.jpg" width="205"/>
                       </div>
                       <center>60 Tab</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Cepillo</div>
                       <div>
                       <h:graphicImage library="img" name="cepcplast.png" width="240"/>
                       </div>
                       <center>Cerdas de Plastico $146.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                  
                
                      <h:outputLabel>
                       <div align="center">Cepillo 2 en 1</div>
                       <div>
                       <h:graphicImage library="img" name="2en1.png" width="240"/>
                       </div>
                       <center>Cerdas metalicas y de plastico $121.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Peine quita nudos</div>
                       <div>
                       <h:graphicImage library="img" name="quitanudos.jpg" width="270"/>
                       </div>
                       <center>Cerdas metalicas $114.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Cepillo caucho</div>
                       <div>
                       <h:graphicImage library="img" name="caucho.jpeg" width="240"/>
                       </div>
                       <center>Para pelo corto $137.50</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Shampoo</div>
                       <div align="center">
                       <h:graphicImage library="img" name="schnsham.jpg" width="240"/>
                       </div>
                       <center>Para Schnauzer $97.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Loción</div>
                       <div>
                       <h:graphicImage library="img" name="losion.jpg" width="240"/>
                       </div>
                       <center>L. Bolsillo 120 ml $94.40</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    <h:outputLabel>
                       <div align="center">Carda</div>
                       <div>
                       <h:graphicImage library="img" name="cardachica.jpg" width="240"/>
                       </div>
                       <center>Chica, cerdas curvas $91.80</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    
                    <h:outputLabel>
                       <div align="center">Shampoo</div>
                       <div>
                       <h:graphicImage library="img" name="espuma.png" width="240"/>
                       </div>
                       <center>Espuma seca 400 ml. $126.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                    
                    <h:outputLabel>
                       <div align="center">Cepillo</div>
                       <div>
                       <h:graphicImage library="img" name="furmi.jpg" width="240"/>
                       </div>
                       <center>Flex FURminator C $183.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                    
                      <h:outputLabel>
                       <div align="center">Shampoo</div>
                       <div>
                       <h:graphicImage library="img" name="negro.jpg" width="270"/>
                       </div> 
                       <center>Pelo Negro $97.00</center>
                        Cantidad 
                        <h:selectOneMenu label="menu" value="Menu">
                <f:selectItem itemLabel="1" itemValue="uno"/>
                <f:selectItem itemLabel="2" itemValue="dos"/>
                <f:selectItem itemLabel="3" itemValue="tres"/>
                <f:selectItem itemLabel="4" itemValue="cuatro"/>
                <f:selectItem itemLabel="5" itemValue="cinco"/>
            </h:selectOneMenu>
                       <div align="center"><h:commandButton value="Agregar al Carrito"/></div>
                    </h:outputLabel>
                </h:panelGrid>
                    
                    <div align="center">
                        <h2>Si quieres conocer mas detalles.. ¡Visitanos y con gusto te atenderemos!</h2>
                </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

