<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="Plantilla/Template.xhtml">
            <ui:define name="content">
        <h:form>
            
            <h:panelGrid columns="2" cellpadding="1" cellspacing="2">
                     <h:outputLabel>
            <h:graphicImage library="img" name="usu.png" width="30"/>
            </h:outputLabel>
                <h:outputLabel>
                Crea tu cuenta
                </h:outputLabel>
                
            </h:panelGrid>
          
            <hr>
            <h:panelGrid columns="2" cellpadding="1" cellspacing="2">
                
                <h:outputLabel>
                    Sexo
                </h:outputLabel>
                
                <h:outputLabel>
                    <h:selectOneRadio value="cuattro">
                        <f:selectItem itemLabel="M" itemValue="Masculino"/>
                        <f:selectItem itemLabel="F" itemValue="Femenino"/>
                    </h:selectOneRadio>
                </h:outputLabel>
                
                <h:outputLabel>
                    Nombre
                </h:outputLabel>
                
                <h:outputLabel>
                   <h:inputText id="nome" label="nome" required="true"/>
            <h:message for="nome" styleClass="msj"/>
                </h:outputLabel>
                
                <h:outputLabel>
                    Apellido Paterno
                </h:outputLabel>
                
                    <h:outputLabel>
                   <h:inputText id="app" label="app" required="true"/>
            <h:message for="app" styleClass="msj"/>
             
                </h:outputLabel>
                
                <h:outputLabel>
                    Apellido Materno
                </h:outputLabel>
                
                    <h:outputLabel>
                   <h:inputText id="apm" label="apm" required="false"/>
            <h:message for="apm" styleClass="msj"/>
             
                </h:outputLabel>
                
                <h:outputLabel>
                    Correo Electronico
                </h:outputLabel>
                
                    <h:outputLabel>
                     <h:inputText id="correo" label="correo" required="true"/>
                <h:message for="correo" styleClass="msj"/>
             
                </h:outputLabel>
                
                       <h:outputLabel>
                    Contraseña
                </h:outputLabel>
                
                    <h:outputLabel>
                    <h:inputSecret id="contra" label="contra" required="true"/>
                <h:message for="contra" styleClass="msj"/>
                </h:outputLabel>
                
                       <h:outputLabel>
                    Contraseña Nuevamente
                </h:outputLabel>
                
                    <h:outputLabel>
                  <h:inputSecret id="contran" label="contran" required="true"/>
                <h:message for="contran" styleClass="msj"/>
                </h:outputLabel>
                
                <div align="center">
            <h:commandButton value="Registrate"/>
            </div>
              </h:panelGrid>
            </hr>
   
            <hr>Registro Mediante</hr>
                
            <h:panelGrid columns="2" cellpadding="2" cellspacing="2">
                <h:outputLabel>
                    <div align="center">
                    <h:graphicImage library="img" name="face.jpg" width="30"/>
                    </div>
                    <a href="#">
                        <span>Facebook</span>
                    </a>
                </h:outputLabel>
                
                <h:outputLabel>
                    <div align="center">
                    <h:graphicImage library="img" name="goo.png" width="30"/>
                    </div>
                    <a href="#">
                        <span>Google</span>
                    </a>
                </h:outputLabel>
            </h:panelGrid>
            </h:form>
            </ui:define>          
    </ui:composition>
    </h:body>
</html>

