
#top {
    position: relative;
    background-color: #E0EAEB;;
    

    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 205px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    height: 61px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 15px;
    height: calc(100% - 61px);
    flex: 1;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.fila {
    margin-right: -15px;
    margin-left: -15px;
}

.img-rounded {
    border-radius: 50%;
}

html, body,header {
    font-family: 'ABeeZee';
    font-size: 22px;
}

body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*
==========================
        Commons
=========================
*/

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.ml-4 {
    margin-left: 4em;
}

.mb-0{
    margin-bottom: 0em;
}
/*
==========================
        NavBar
=========================
*/

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b89c8;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar > ul > li {
    float: left;
}

.navbar > ul > li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5bc89a;
}

.active {
    background-color: #c89a5b;
}

/*
==========================
        Colors
=========================
*/

.color-green-ligth {
    color: #b2db94;
}

.color-blue{
    color: #036fab;
}

.color-white{
    color: #ffffff!important;
}

.color-black{
    color:#000000!important;
}
/*
==========================
        Buttons
=========================
*/
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;

}
/*
==========================
        Font
=========================
*/

.font-size-1{
    font-size: 1em
}
.font-size-0_5{
    font-size: 0.5em
}
.font-size-0_8{
    font-size: 0.8em
}

/*
==========================
        Carousel
=========================
*/
.carousel-wrapper{
    height:400px;
    position:relative;
    width:800px;
    margin:0 auto;
}
.carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
}
.arrow{
    position:absolute;
    top:0;
    display:block;
    width:50px;
    height:100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
    left:0;
}

.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light{
    color:white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('http://localhost:8080/Uno/faces/resources/img/corte.jpg');
    background-size:cover;
}
.item-2{
    background:url('http://localhost:8080/Uno/faces/resources/img/feliz.png');
    background-size:cover;
}
.item-3{
    background:url('http://localhost:8080/Uno/faces/resources/img/productos.jpg');
    background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}








