<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div class="footer">
            <div align="center">
                <span class="font-size-0_8">
                    El mejor servicio para consentir a tu perro, servicio completo de limpieza, productos accessorios y más.
                </span>
                <br/>
                <span class="font-size-0_8">
                    Carrer Defalcassin, 167A 16ºD
                    C. Comercial Recelosament desgavellessis minutari tenutes, 86B 
                </span>
            </div>
        </div>
    </h:body>
</html>
