<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
    </h:head>
    <h:body>
        <div align="center">
            <h:graphicImage class="img-rounded mt-0 ml-2" library="img" name="Logo.png" width="130px">
            </h:graphicImage>
            <h2 class="ml-1 mb-0 mt-0 color-black">Estetica Canina</h2>
        </div>
        <div class="navbar">
            <ul>
                <li><a class="active" href="http://localhost:8080/Uno/faces/index.xhtml">Inicio</a></li>
                <li><a href="http://localhost:8080/Uno/faces/Producto.xhtml">Productos</a></li>
                <li><a href="http://localhost:8080/Uno/faces/Cita.xhtml">Reserva tu cita</a></li>
                 <li><a href="http://localhost:8080/Uno/faces/InicioSesion.xhtml">Inicio de sesión</a></li>
                <li style="float:right"><a class="color-white"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </div>
    </h:body>
</html>

